:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --btn-txt-cl: #ffffff;
  --main-txt-cl: #212121;
  --hdr-cntcts-lst: #757575;
  --accent-txt-cl: #2196f3;
  --porfolio-border-img: #eeeeee;
  --logo-black: #000000;
  --btn-prtfl: #f5f4fa;
  --item-light: rgba(255, 255, 255, 0.6);
  --sctn-sntnc: #2f303a;
  --header-container-border: #ececec;
  --accent-txt-hvr-fcs-cl: #188ce8;

  /* bg colors */

  /* others */
}
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--btn-txt-cl);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*-------------------- reset styles--------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*------------------ basy styles------------------------------ */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /*----------------ВРЕМЕННЫЙ БЛОК, ДЛЯ  РАЗМЕТКИ-------------*/
  /*outline: 2px solid red;
  outline-offset: -2px;*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  letter-spacing: 0.06em;
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
  cursor: pointer;
  border-radius: 4px;
  bottom: none;
  border: var(--logo-black);
}

.btn:hover,
.btn:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-hvr-fcs-cl);
}

.btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-txt-cl);
  background-color: var(--btn-prtfl);
  cursor: pointer;
  border: none;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
}

.header-link-logo-black {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-black);
}

.logo-blue {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 31px;
  color: var(--accent-txt-cl);
}

/* Header */

.header-container {
  display: flex;
  gap: 0;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--header-container-border);
}

.header-nav {
  margin-right: 331px;
  gap: 0;
}

.header-nav-list {
  align-items: center;
}
.header-link-logo-black {
  margin-right: 92px;
}

.header-link-std-fl {
  margin-right: 50px;
}

.header-link-prtfl-fl {
  margin-right: 50px;
}

.header-contacts-list {
  gap: 0;
}

.header-link-ml-fl {
  margin-right: 50px;
}

.header-link {
  padding-top: 35px;
  padding-bottom: 35px;
}

.header-nav-list,
.header-contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: flex;
}

.header-link-studio,
.header-link-portfolio {
  color: var(--accent-txt-cl);
}

.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-cl);
}

.header-contacts-list {
  color: var(--hdr-cntcts-lst);
}

/* Эффективные решения */

.sentence-section {
  background-color: var(--sctn-sntnc);
  padding-top: 200px;
  padding-bottom: 200px;
}

.sntns-hr {
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
  margin-bottom: 30px;
}

.btn-sentence-section {
  display: block;
  margin: 0 auto;
}

/* Особенности Занятия */

.features-occupation {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-features-list {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}

.container-features-item {
  flex-basis: 270px;
}

.main-features-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--hdr-cntcts-lst);
}

.main-occupation-title {
  text-align: center;
  margin-bottom: 50px;
}

.container-main-occupation-list {
  display: flex;
  gap: 30px;
}

.main-occupation-title {
  font-size: 36px;
  line-height: calc(42 / 36);
}

/* Команда */

.main-team {
  background-color: var(--btn-prtfl);
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-team-title-head {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.container-main-team-list {
  display: flex;
  gap: 30px;
}

.team-card-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  text-align: center;
  padding: 30px;
}

.main-team-title {
  /*font-weight: 500;*/
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
}

.main-team-text {
  /*font-weight: 400;*/
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--hdr-cntcts-lst);
}

/* PORFOLIO page * /

/* Portfolio navigation */

.container-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* Portfolio BTN */

.container-portfolio-navigation-list {
  display: flex;
  gap: 8px;
  margin: auto;
}

.container-portfolio-navigation-list {
}

.btn-portfolio {
  border-radius: 4px;
  padding: 6px 22px;
}

/* Portfolio */

.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/*.container-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}*/

.container-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.porfolio-div-contents {
  border: 1px solid var(--porfolio-border-img);
  padding: 20px 24px;
}

.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--hdr-cntcts-lst);
}

/*----------------------Footer------------------------------- */

.footer {
  background-color: var(--sctn-sntnc);
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link-logo-white {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 31px;
  color: var(--btn-txt-cl);
  margin-bottom: 20px;
}

.address {
  font-style: inherit;
}

.footer-address-list {
  gap: 9px;
}

.item-light-location {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--btn-txt-cl);
}

.item-light {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--item-light);
}
